<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>400</title>
</head>
<body>
    
    <div class="inputDiv" style="background-color: transparent !important; background-image: none !important;">
            <h1 style="color: beige; font-size: 69px; margin-bottom: 0px;">404</h1>
            <p style="color: beige; font-size: 48px; margin-top: 0px;">&#128064 Not Found &#128064</p>
        </div>
   
</body>
</html>